body {
    background-color: #EEE;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    margin-right: auto;
}

#nav-bar {
    margin-top: 20px;
    margin-left: auto;
    position: fixed;
    top: 0px;
    right: 50px;
}
#nav-bar ul {
    list-style-type: none;
}

#nav-bar ul li {
    display: inline;
    padding: 25px;
    margin: 25px;
}

#nav-bar ul li a {
    text-decoration: none;
    color: black;
}

.form-title {
    text-align: center;
}

article:first-child {
    text-align: center;
}

#email {
    width: 18%;
    padding: 5px 0;
}

#submit {
    background-color: #f1c40f;
    border: none;
    font-weight: 800;
    width: 150px;
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
}

@media screen and (max-width: "700px") {
  #submit {
    padding: 3px;
  }
}